  .nav-menu {
    text-align: right;
  }
  .nav-spacing {
    margin: 0 0 0 10px;
  }
    .image-link {
    text-decoration: none
  }
      .achtergrond-blok {
    width: 500px; margin: 20px auto; padding: 30px; background-color: #fafafa;
  }
  
  
